@tailwind base;
@tailwind components;
@tailwind utilities;

/* BODY CSS */

body,
html,
:root {
  width: 100;
  height: 100;
  background-color: black;
  color-scheme: dark;
}

/* LOADER CSS */

#loader {
  -webkit-transform-origin: 50% 65%;
  transform-origin: 50% 65%;
}

#loader polygon {
  stroke-dasharray: 17;
  -webkit-animation: dash 2.5s cubic-bezier(0.35, 0.04, 0.63, 0.95) infinite;
  animation: dash 2.5s cubic-bezier(0.35, 0.04, 0.63, 0.95) infinite;
}

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 136;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 136;
  }
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
